/* 
    Author: Md.Selim Hossain Suhag;
    Theme: BAIL website ;
    version: 1.0;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  border: 0;
  padding:1%;
  width:80%;
  margin:0 auto;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.clearfix{
  float:none;
  clear:both;
}

.full-width{
  width:100%;
}

table tr th{
  border-bottom: 1px solid black;
  padding:1%;
  text-align: center;
} 
table tr td{
  padding:1%;
  text-align: center;
}
table tr td a{
  display: inline;
}

.btn-success{
  background-color: #1E9100;
  padding:2%;
  color:#f1f2f6;
  text-decoration: none;
  font-weight:bold;
}
.btn-primary{
  background-color: #0984e3;
  padding:1%;
  color:#f1f2f6;
  text-decoration: none;
  font-weight:bold;
}
.btn-danger{
  background-color: #d63031;
  padding:2%;
  color:#dfe6e9;
  text-decoration: none;
  font-weight:bold;
}

/* CSS for Search  */

.search input{
  margin-right:5px;
  border-radius: 5px;
  border:1px solid grey;
}


.search input[type=search] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 25%;
  background: #f1f1f1;
}

.search button {
  border-radius: 5px;
  float: left;
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
.search::after {
  content: "";
  clear: both;
  display: table;
}


/* end Search */


/* css for add_product form */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.myform{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b2bec3;
}
.wrapperf{
  position: relative;
  max-width: 430px;
  width: 100%;
  background:#dfe4ea;
  padding: 34px;
}
.wrapperf h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #2d3436;
}
.wrapperf form{
  margin-top: 30px;
}
form .input-box textarea{
    height:110%;
    width:100%;
    color: #333;
    padding:15px;
    border-radius:5px;
    border: 1.5px solid #C7BEBE;
    outline:none;
    font-size: 17px;
    font-weight: 400;
    box-shadow: rgb(125, 125, 212);
}
.wrapperf form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}

/* CSS for Header */

h1{
  margin:2%;
  width:50%;
  border:0;
  position: relative;
}


/* CSS for menu */

.menu{
  border-bottom: 1px solid grey;
}

.menu ul{
  list-style-type:none;
  width:100%;
}

.menu ul li{
  display:inline;
  padding:2%;
}

.menu ul li a{
  text-decoration: none;
  font-weight: bold;
  color:#ee5253;
}
.menu ul li a:hover{
  color:#10ac84;
}
.sub_menu_1{
  display: none;
}
.menu ul li:hover .sub_menu_1{
  display:block;
  position: absolute;
  background-color: white;
  margin-left:75% ;
}
.menu ul li:hover .sub_menu_1 ul{
  display: block;
  margin:10px;
}
.menu ul li:hover .sub_menu_1 ul li{
  display: flex;
  width:150px;
  padding:10px;
  border-bottom: 1px dotted rgb(100, 96, 96);
  background: transparent;
  border-radius: 0;
  text-align: right;
}
.menu ul li:hover .sub_menu_1 ul li:last-child{
  border-bottom: none;
}

/* CSS for main-content */

.main-content{
  margin:0;
  background-color: #c8d6e5;
  padding:2% 0;
}

.col-4{
  width:18%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float:left;
}

/* CSS for print */

.printProduct{
  margin-left: 1%;
  
}

#divToPrint{
  margin-left: 1%;
  margin-bottom: 15px;
}
.printProduct button{
  padding:1%;
}

/* CSS for view - product details */

.product-image img{
  margin-left: 20%;
  width:50%;
  height:50%;
}
.img-details{
  margin-left: 20%;
  width:50%;
  height:50%;  
}
.img-details h2{
  font-size: 1.5rem;
  margin:5px;
}
  
  
  
  
  /* CSS for Mobile Size or Smaller Screen */
  
  @media only screen and (max-width:768px){
   
    .list{
        line-height: 50%;
    }
    h1{
        width:80%;
        margin:6% 0% 7% 11%;
        text-align: center;
    }
    .col-4{
      width:100%;
      margin: 1%;
      padding: 2%;
    }
  
    .list ul{
        text-align: center;
    }
    .list ul li{
        display: block;
        margin:4%;
  
    }
  
    .btn{
        width: 91%;
        padding: 2%;
    }
    .order{
        width: 100%;
    }
  }
  